<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static//styles/consultaItem.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo-container">
                <a><h1>Consulta App</h1></a>
            </div>
            <div class="header-ellipse-container">
                <div class="more-icon-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>


            <div class="header-right-container">
                <div class="header-user-actions">
                    <div class="user-marcar-consulta-btn user-action-btn" title="marcar-consulta">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="user-logout-btn user-action-btn" title="sair">
                        <i class="fa-solid fa-sign-out"></i>
                    </div>
                    <a href="#">
                        <div class="user-profile-image" title="your profile">
                            <img src="../static/images/profile.avif" />
                        </div>
                    </a>
                </div>
                
            </div>


        </div>
    </header>

    <main>
        <div class="consulta-container">
            <div class="consulta-container-header">
                <p>Suas consultas:</p>
            </div>
            <div class="consulta-container-body">
                
            </div>
        </div>
    </main>

              
   <script src="../static/scripts/home.js"></script>
</body>
</html>