<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static//styles/consultaItem.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo-container">
                <a><h1>Logo name</h1></a>
            </div>
            <div class="header-ellipse-container">
                <div class="more-icon-btn">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="list-consulta-container">
        <a href="#" class="solicitar-consulta-btn">
            <div class="plus-icon-btn">
                <i class="fa-solid fa-plus"></i>
            </div>
            solicitar consulta
        </a>
        <div class="list-consulta-header">
            <h4>Suas consulas:</h4>
        </div>
        <div class="list-consulta">                
            <div class="consulta-item-container">
                <div class="consulta-item-header">
    
                    <div class="consulta-title-container">
                        <div class="circle-icon">
                            <i class="fa-solid fa-bookmark"></i>
                        </div>
                        <h4 class="consulta-title">Oftamologista</h4>
                    </div>
    
                    <div class="consulta-date-container">
                        <p class="consulta-date">01/02/2005</p>
                        <div class="calendar-icon">
                            <i class="fa-solid fa-calendar-alt"></i>
                        </div>
                    </div>
    
                </div>
        
                <div class="consulta-item-ruler"></div>
        
                <div class="consulta-item-body">
                    <p class="consulta-info">
                        t's important to note that moderate consumption of soda is generally
                        not harmful, but excessive and daily intake, such as 2 liters per
                    </p>
                    <div class="doctor-container">
                        <div class="doctor-icon">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <p class="doctor-name">Jose ribamar</p>
                    </div>
                </div>
        
                <div class="consulta-item-ruler"></div>
        
                <div class="consulta-item-bottom">
                    <a class="posicao-btn consulta-item-btn">posição</a>
                    <a class="cancelar-btn consulta-item-btn">cancelar</a>
                </div>
            </div>
    
        </div>
    </div>
</body>
</html>