<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="login-page-container">
        <div class="login-box-container">
            <div class="login-box-header">
                <h1>Login no App</h1>
            </div>

            <form id="login-form" ">
                <div class="login-input-field">
                    <label for="identificacao-input">CPF ou numero cartão </label>
                    <div class="input-container">
                        <input type="text" id="identificacao-input"/>
                        <div class="input-container-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                    </div>
                    <div class="error-message" id="identificacao-error-message">Campo acima não pode estar vazio</div>
                </div>
                <div class="login-input-field">
                    <label for="senha-input">Senha: </label>
                    <div class="input-container">
                        <input type="password" id="senha-input" />
                        <div class="input-container-icon" id="password-visibility-icon">
                            <i class="fa-solid fa-eye" id="senha-icon"></i>
                        </div>
                    </div>
                    <div class="error-message" id="senha-error-message">Campo acima não pode estar vazio</div>
                </div>

                <button id="form-login-btn">Login</button>
            </form>

            <div class="login-box-ruler"></div>

            <div class="login-box-footer">
                <p>Ainda não tem cadastro? <a href="/login">login</a> </p>
            </div>
        </div>
    </div>
    <script src="../static/scripts/login.js"></script>
</body>
</html>