@import "../../mixins";

.login-page-main{
    height: 100%;


    padding-top: 30px;
    .login-page-section{
     
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 20px;

        .login-section-header{
            text-align: center;
            margin-bottom: 30px;
            width: 100%;
            max-width: 400px;
        }

        .login-section-body{
            width: 100%;
            max-width: 400px;

            .login-form{
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                .login-form-item{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                
                    input, select{
                        height: 40px;
                        border: 1px solid silver;
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                        padding: 5px;
                        border-radius: 5px;


                        &:focus{
                            outline: none;
                        }
                    }
                    p{
                        color: red;
                        font-size: 14px;
                    }

                    .login-form-password{
                        display: grid;
                        grid-template-columns: calc(100% - 55px) 55px;
                        border: 1px solid rgb(156, 152, 152);

                        border-radius: 5px;

                        input{
                            border: none;
                        }

                        .login-password-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            cursor: pointer;
                            font-size: 20px;
                        }
                    }
                }

                .login-form-button{
                    .login-form-btn{
                        @include button_base($bg-color: green);
                        width: 100%;
                        max-width: 400px;
                        font-size: 18px;
                        border-radius: 5px;
                    }
                }
                .login-form-bottom{
                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}