


main{
    padding: 20px 10px;
}


.consulta-container{
    margin: 0 auto;
    max-width: 1256px;
}

.consulta-container-header{
    margin-bottom: 10px;
}
.consulta-container-header p{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}


.consulta-container-body{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.consulta-item-container{
    flex-grow: 1;
    flex-basis: calc(50% - 10px);
}

@media screen  and (min-width: 436px){
    .consulta-item-container{
        flex-grow: 0;
    }
}
@media screen and (min-width: 690px){
    .consulta-item-container{
        flex-basis: calc(33.33% - 10px);
    }
}

@media screen and (min-width: 963px){
    .consulta-item-container{
        flex-basis: calc(25% - 10px);
    }
}
