


main{
    padding: 20px 10px;
}


.consulta-container{
    max-width: calc( (250px * 4) + 30px);
    width: 270px;
    margin: 0 auto;
}

.consulta-container-header{
    margin-bottom: 10px;
}
.consulta-container-header p{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}


.consulta-container-body{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, max-content)); */
    row-gap: 10px;
    column-gap: 10px;
}

@media screen and (min-width: 545px) {
    .consulta-container{
        width: 100%;
    }
    .consulta-container-body{
        grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    }
    
}