/* LOGIN PAGE CONTAINER */
.login-page-container{
    height: 100%;

    display: flex;
    flex-direction: column;

}

/* LOGIN BOX CONTAINER */
.login-box-container{
    max-width: 400px;
    padding: 12px;


    margin: auto;
}

/* LOGIN BOX HEADER */
.login-box-header{
    margin-bottom: 20px;
}
.login-box-header h1{
    font-size: 25px;
    font-weight: 700;
}

/* LOGIN INPUT FIELD */
.login-input-field{
    margin-top: 20px;
}
.login-input-field label{
    display: inline-block;
    margin-bottom: 5px;
}



/* INPUT CONTAINER START*/
.input-container{
    border: 1px solid black;
    height: 42px;

    display: flex;
    justify-content: space-between;

}
.input-container  input {
    width: 80%;
    height:  100%;

    font-size: 15px;
    padding-left: 5px;
    border: none;
}
.input-container input:focus{
    outline: none;
}

.input-container .input-container-icon{
    /* background-color: rgb(35, 102, 8); */
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* color: white; */
    font-size: 1.1rem;
    border:none;

    cursor: pointer;
}


.error-message{
    font-size: 14px;
    color: red;
}



#form-login-btn{
    width: 100%;
    height: 45px;
    border: none;
    
    font-size: 18px;
    background-color: green;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* LOGIN BOX RULER */
.login-box-ruler{
    height: 1px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-box-footer{
    text-align: center;
}