.solicitacao-item-container{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  
  box-shadow: 0 0 4px 2px silver;
  
  .solicitacao-item-header{
    padding: 7px 5px;
    text-align: center;

    background-color: rgb(60, 154, 254);
    color: white;
    
    h3{
      font-size: 18px;
      line-height: 1.4;
    }
  }

  .solicitacao-item-information{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 5px;
    height: 100%;

    .solicitacao-info-medico{
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    .solicitacao-info-data{
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    .solicitacao-info-situacao{
      display: flex;
      align-items: center;
      column-gap: 10px;

      h4{
        font-size: 17px;
      }

      p{
        font-size: 17px;
      }
      p.analise{
        color: rgb(4, 89, 154);
        text-decoration: underline;
      }
      p.agendamento{
        color: rgb(0, 154, 0);
        text-decoration: underline;
      }
    }

    .solicitacao-info-motivo{
      p{
        font-size: 17px;
        font-weight: 400;
        padding: 10px;
      }
    }

    .agendamento-info{
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      margin: 10px;

      .agendamento-info-date,
      .agendamento-info-time{
        display: flex;
        align-items: center;
        column-gap: 12px;

        p{
          color: green;
          font-size: 17px;
          letter-spacing: 1px;
        }
      }

    }

  }

  .solicitacao-item-buttons{
    display: flex;
    justify-content: end;
    column-gap: 10px;
    padding: 5px;
    flex:1;
    align-items: end;

    @mixin button_base($bg-color: rgb(0, 0, 0)){
      width: 70px;
      height: 40px;
      text-align: center;
      background-color: $bg-color;
      color: rgb(255, 255, 255);
      border: none;
      font-size: 15px;
      cursor: pointer; 
    }
                            
    .update-solicitacao-btn{
      @include button_base($bg-color: rgb(6, 111, 197));
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .delete-solicitacao-btn{
      @include button_base($bg-color: red);
      border-radius: 4px;
    }

    .update-agendamento-btn{
      @include button_base($bg-color:rgb(48, 143, 244));
      border-radius: 5px;
      width: 100%;
      max-width: 120px;
    }
    .deletar-agendamento-btn{
      @include button_base($bg-color: red);
      border-radius: 4px;
      width: 100%;
      max-width: 120px;
    }
    .agendar-solicitacao-btn{
      @include button_base($bg-color: rgb(41, 156, 213));
      border-radius: 4px;
      width: 100%;
      max-width: 100px;
    }

  }
}
